// Offset
.m0
	margin 0 !important
		
margin-top($margin-top)
	margin-top $margin-top
	display block
	
margin-bottom($margin-bottom)
	margin-bottom $margin-bottom
	display block
	
padding-top($padding-top)
	padding-top $padding-top
	display block
	
padding-bottom($padding-bottom)
	padding-bottom $padding-bottom
	display block	

.margin-top5
	margin-top(5px)
	
.margin-bottom5
	margin-bottom(5px)
	
.padding-top5
	padding-top(5px)
	
.padding-bottom5
	padding-bottom(5px)
	
.margin-top10
	margin-top(10px)
	
.margin-bottom10
	margin-bottom(10px)
	
.padding-top10
	padding-top(10px)
	
.padding-bottom10
	padding-bottom(10px)
	
.margin-top20
	margin-top(20px)
	
.margin-bottom20
	margin-bottom(20px)
	
.padding-top20
	padding-top(20px)
	
.padding-bottom20
	padding-bottom(20px)
	
.margin-top30
	margin-top(30px)
	
.margin-bottom30
	margin-bottom(30px)
	
.padding-top30
	padding-top(30px)
	
.padding-bottom30
	padding-bottom(30px)
		
.margin-top40
	margin-top(40px)
	
.margin-bottom40
	margin-bottom(40px)
	
.padding-top40
	padding-top(40px)
	
.padding-bottom40
	padding-bottom(40px)
	
.margin-top50
	margin-top(50px)
	
.margin-bottom50
	margin-bottom(50px)
	
.padding-top50
	padding-top(50px)
	
.padding-bottom50
	padding-bottom(50px)
	
.margin-top60
	margin-top(60px)
	
.margin-bottom60
	margin-bottom(60px)
	
.padding-top60
	padding-top(60px)
	
.padding-bottom60
	padding-bottom(60px)
	
.margin-top70
	margin-top(70px)
	
.margin-bottom70
	margin-bottom(70px)
	
.padding-top70
	padding-top(70px)
	
.padding-bottom70
	padding-bottom(70px)

.margin-top80
	margin-top(80px)
	
.margin-bottom80
	margin-bottom(80px)
	
.padding-top80
	padding-top(80px)
	
.padding-bottom80
	padding-bottom(80px)
	
.margin-top90
	margin-top(90px)
	
.margin-bottom90
	margin-bottom(90px)
	
.padding-top90
	padding-top(90px)
	
.padding-bottom90
	padding-bottom(90px)
		
.margin-top100
	margin-top(100px)
	
.margin-bottom100
	margin-bottom(100px)
	
.padding-top100
	padding-top(100px)
	
.padding-bottom100
	padding-bottom(100px)
	
.margin-top110
	margin-top(110px)
	
.margin-bottom110
	margin-bottom(110px)
	
.padding-top110
	padding-top(110px)
	
.padding-bottom110
	padding-bottom(110px)
	
.margin-top120
	margin-top(120px)
	
.margin-bottom120
	margin-bottom(120px)
	
.padding-top120
	padding-top(120px)
	
.padding-bottom120
	padding-bottom(120px)
	
.margin-top130
	margin-top(130px)
	
.margin-bottom130
	margin-bottom(130px)
	
.padding-top130
	padding-top(130px)
	
.padding-bottom130
	padding-bottom(130px)
	
.margin-top140
	margin-top(140px)
	
.margin-bottom140
	margin-bottom(140px)
	
.padding-top140
	padding-top(140px)
	
.padding-bottom140
	padding-bottom(140px)

.margin-top150
	margin-top(150px)
	
.margin-bottom150
	margin-bottom(150px)
	
.padding-top150
	padding-top(150px)
	
.padding-bottom150
	padding-bottom(150px)
	
.margin-top160
	margin-top(160px)
	
.margin-bottom160
	margin-bottom(160px)
	
.padding-top160
	padding-top(160px)
	
.padding-bottom160
	padding-bottom(160px)

@media (max-width: 768px)
	.sm-margin-top5
		margin-top(5px)
		
	.sm-margin-bottom5
		margin-bottom(5px)
		
	.sm-padding-top5
		padding-top(5px)
		
	.sm-padding-bottom5
		padding-bottom(5px)
		
	.sm-margin-top10
		margin-top(10px)
		
	.sm-margin-bottom10
		margin-bottom(10px)
		
	.sm-padding-top10
		padding-top(10px)
		
	.sm-padding-bottom10
		padding-bottom(10px)
		
	.sm-margin-top20
		margin-top(20px)
		
	.sm-margin-bottom20
		margin-bottom(20px)
		
	.sm-padding-top20
		padding-top(20px)
		
	.sm-padding-bottom20
		padding-bottom(20px)
		
	.sm-margin-top30
		margin-top(30px)
		
	.sm-margin-bottom30
		margin-bottom(30px)
		
	.sm-padding-top30
		padding-top(30px)
		
	.sm-padding-bottom30
		padding-bottom(30px)
			
	.sm-margin-top40
		margin-top(40px)
		
	.sm-margin-bottom40
		margin-bottom(40px)
		
	.sm-padding-top40
		padding-top(40px)
		
	.sm-padding-bottom40
		padding-bottom(40px)
		
	.sm-margin-top50
		margin-top(50px)
		
	.sm-margin-bottom50
		margin-bottom(50px)
		
	.sm-padding-top50
		padding-top(50px)
		
	.sm-padding-bottom50
		padding-bottom(50px)
		
	.sm-margin-top60
		margin-top(60px)
		
	.sm-margin-bottom60
		margin-bottom(60px)
		
	.sm-padding-top60
		padding-top(60px)
		
	.sm-padding-bottom60
		padding-bottom(60px)
		
	.sm-margin-top70
		margin-top(70px)
		
	.sm-margin-bottom70
		margin-bottom(70px)
		
	.sm-padding-top70
		padding-top(70px)
		
	.sm-padding-bottom70
		padding-bottom(70px)

	.sm-margin-top80
		margin-top(80px)
		
	.sm-margin-bottom80
		margin-bottom(80px)
		
	.sm-padding-top80
		padding-top(80px)
		
	.sm-padding-bottom80
		padding-bottom(80px)
		
	.sm-margin-top90
		margin-top(90px)
		
	.sm-margin-bottom90
		margin-bottom(90px)
		
	.sm-padding-top90
		padding-top(90px)
		
	.sm-padding-bottom90
		padding-bottom(90px)


// Text

.hairline
	font-weight 100

.light
	font-weight 300

.normal
	font-weight 400

.bold
	font-weight 700

.extrabold
	font-weight 800

.black
	font-weight 900

.uppercase
	text-transform uppercase

.text-center
	text-align center

.text-left
	text-align left

.text-right
	text-align right
	
@media (max-width: 768px)
	.text-right.sm
		text-align inherit

.pull-right
	float right

.pull-left
	float left

