<!-- Widget Category -->
<div class="widget widget__archive">
    <div class="widget__title">
        <h6 class="text-white mb-0">category</h6>
    </div>
    <ul class="list-unstyled bg__card-shadow">
        <li>
            <a href="#">
                Life style
                <span class="badge badge-primary">14</span>
            </a>
        </li>
        <li>
            <a href="#">
                photos
                <span class="badge badge-primary">4</span>
            </a>
        </li>
        <li>
            <a href="#">
                video
                <span class="badge badge-primary">2</span>
            </a>
        </li>
        <li>
            <a href="#">
                tranding
                <span class="badge badge-primary">8</span>
            </a>
        </li>
        <li>
            <a href="#">
                travel
                <span class="badge badge-primary">10</span>
            </a>
        </li>
        <li>
            <a href="#">
                health
                <span class="badge badge-primary">12</span>
            </a>
        </li>
    </ul>
</div>