<!-- Widget Category -->
<div class="widget widget__category">
    <ul class="list-unstyled ">
        <li>
            <a href="#">
                Life style
                <span class="badge">14</span>
            </a>
        </li>
        <li>
            <a href="#">
                photos
                <span class="badge">4</span>
            </a>
        </li>
        <li>
            <a href="#">
                video
                <span class="badge">2</span>
            </a>
        </li>
        <li>
            <a href="#">
                tranding
                <span class="badge">8</span>
            </a>
        </li>
        <li>
            <a href="#">
                travel
                <span class="badge">10</span>
            </a>
        </li>
        <li>
            <a href="#">
                health
                <span class="badge">12</span>
            </a>
        </li>

    </ul>
</div>