<!-- Article detail -->
<div class="card__post__detail">
	<h2>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pellentesque Elementum
	</h2>
	<div class="card__post__detail-author-info">
		<ul class="list-inline">
			<li class="list-inline-item">
				<a href="#">
					By David Hall
				</a>
			</li>
			<li class="list-inline-item">

				Posted. On 31 December, 2019

			</li>
			<li class="list-inline-item">
				<a href="#">
					Programming
				</a>
			</li>
		</ul>
	</div>

	<figure>
		<img src="../../images/product/article5.jpg" class="img-fluid w-100" alt="">
		<figcaption>Image by pexels.com</figcaption>
	</figure>

	<div class="card__post__detail-body">
		<p>
			Nulla facilisi. Aenean pharetra fringilla nunc a finibus. Nulla vitae pretium nunc. Pellentesque sagittis
			sollicitudin turpis id aliquam. Cras lobortis diam in nunc posuere, et malesuada sem gravida. Curabitur
			ornare massa id orci faucibus elementum. Phasellus pharetra, velit in egestas rutrum, metus dolor maximus
			massa, feugiat molestie eros mauris sit amet massa. Maecenas blandit diam lacus, in luctus nulla efficitur
			nec. Sed sit amet quam sit amet odio scelerisque vestibulum vel sit amet ante. Cras fringilla efficitur
			lacinia. Cras posuere, arcu id consequat ultrices, urna urna cursus massa, at sollicitudin elit lacus quis
			dui. In laoreet nulla a turpis blandit sollicitudin. Donec in risus eu lorem volutpat hendrerit quis non
			lorem. Nulla in metus ipsum.
		</p>


		<h4>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, cupiditate.
		</h4>
		<p>
			Etiam sit amet augue non velit aliquet consectetur. Proin gravida, odio in facilisis pharetra, neque enim
			aliquam eros, vitae gravida orci elit vel magna. Integer viverra a purus id gravida. Donec laoreet mi ac
			auctor ultricies. Pellentesque ullamcorper est et erat ullamcorper gravida. In hac habitasse platea
			dictumst. Pellentesque justo mauris, mollis at tortor ut, commodo venenatis elit. Curabitur suscipit
			pellentesque nunc, id tempus mi facilisis sed. Curabitur molestie eu odio vitae condimentum. Donec placerat
			tristique neque a blandit. Nullam commodo massa ut eros elementum, in suscipit libero aliquam.
		</p>

		${require('./tags.html')}
		<p>
			<button class="btn btn-social titled text-white facebook">
				<i class="fab fa-facebook-f"></i> facebook
			</button>
			<button class="btn btn-social titled text-white twitter">
				<i class="fab fa-twitter"></i> twitter
			</button>
			<button class="btn btn-social titled text-white linkedin">
				<i class="fab fa-linkedin"></i> linkedin
			</button>
			<button class="btn btn-social titled text-white google-plus">
				<i class="fab fa-google-plus"></i> google-plus
			</button>
		</p>

	</div>

</div>