<!-- Post Article -->
<div class="card__post card__post-list mb-3">
	<div class="image-sm">
		<a href="#">
			<img src="../../images/product/article6.jpg" class="img-fluid" alt="">
		</a>
	</div>


	<div class="card__post__body ">
		<div class="card__post__content">

			<div class="card__post__author-info mb-2">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="#" class="text-dark">
							by david hall
						</a>
					</li>
					<li class="list-inline-item">
						<span class="text-dark text-capitalize">
							descember 09, 2016
						</span>
					</li>

				</ul>
			</div>
			<div class="card__post__title">
				<h6>
					<a href="#" class="text-dark">
						6 Best Tips for Building a Good Shipping Boat
					</a>
				</h6>
				<p class="d-none d-lg-block d-xl-block">
					Maecenas accumsan tortor ut velit pharetra mollis. Proin eu nisl et arcu iaculis placerat
					sollicitudin ut est. In fringilla dui dui.
				</p>

			</div>

		</div>


	</div>
</div>