<!-- Post Article -->
<div class="article__entry">
	<div class="article__image">
		<a href="#">
			<img src="../../images/placeholder/500x400.jpg" alt="" class="img-fluid">
		</a>
	</div>
	<div class="article__content">
		<div class="article__category">
			travel
		</div>
		<ul class="list-inline">
			<li class="list-inline-item">
				<span class="text-primary">
					by david hall
				</span>
			</li>
			<li class="list-inline-item">
				<span class="text-dark text-capitalize">
					descember 09, 2016
				</span>
			</li>

		</ul>
		<h5>
			<a href="#">
				Proin eu nisl et arcu iaculis placerat sollicitudin ut est
			</a>
		</h5>
		<p>
			Maecenas accumsan tortor ut velit pharetra mollis. Proin eu nisl et arcu iaculis placerat sollicitudin ut
			est. In fringilla dui dui.
		</p>
		<a href="#" class="btn btn-outline-primary mb-4 text-capitalize"> read more</a>
	</div>
</div>