<!-- Post Article List-->
<div class="card__post card__post-list card__post-list-top card__post__transition">
	<div class="row">
		<div class="col-md-6">
			<div class="card__post__transition">
				<a href="#">
					<img src="../../images/product/article4.jpg" class="img-fluid w-100" alt="">
				</a>
			</div>
		</div>
		<div class="col-md-6 my-auto pl-0 ">
			<div class="card__post__body ">
				<div class="card__post__content ">
					<div class="card__post__category text-capitalize">
						travel
					</div>
					<div class="card__post__author-info mb-2">
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="#" class="text-dark">
									by david hall
								</a>
							</li>
							<li class="list-inline-item">
								<span class="text-dark text-capitalize">
									descember 09, 2016
								</span>
							</li>

						</ul>
					</div>
					<div class="card__post__title">
						<h5>
							<a href="#">
								Exercitation Ullamco Laboris Nisi Ut Aliquip
							</a>
						</h5>

					</div>

				</div>
			</div>
		</div>

	</div>
</div>