<!-- Post Article -->
<div class="card__post card__post-list mb-3 border-bottom">
	<a href="#" class="image-sm mr-3 ">
		<img src="../../images/product/article6.jpg" class="img-fluid" alt="">
	</a>

	<div class="card__post__body ">
		<div class="card__post__content p-0 bg-white">
			<div class="card__post__category text-capitalize">
				travel
			</div>
			<div class="card__post__author-info mb-2">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="#" class="text-dark">
							by david hall
						</a>
					</li>
					<li class="list-inline-item">
						<span class="text-dark text-capitalize">
							descember 09, 2016
						</span>
					</li>

				</ul>
			</div>
			<div class="card__post__title">
				<h6>
					<a href="#">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</a>
				</h6>

			</div>

		</div>


	</div>
</div>