<!-- Post Article -->
<div class="card__post card__post-list mb-3">
	<a href="#" class="image-sm mr-3 ">
		<img src="../../images/product/article6.jpg" class="img-fluid" alt="">
	</a>

	<div class="card__post__body ">
		<div class="card__post__content p-0 ">
			<div class="card__post__category text-capitalize">
				travel
			</div>

			<div class="card__post__title">
				<h6>
					<a href="#" class="text-white">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</a>
				</h6>

			</div>

		</div>


	</div>
</div>