<!-- Post Article -->
<div class="article__entry">
	<div class="article__image">
		<a href="#">
			<img src="../../../assets/images/placeholder/500x400.jpg" alt="" class="img-fluid">
		</a>
	</div>
	<div class="article__content">
		<ul class="list-inline">
			<li class="list-inline-item">
				<span class="text-primary">
					by david hall
				</span>,
			</li>

			<li class="list-inline-item">
				<span>
					descember 09, 2016
				</span>
			</li>
		</ul>
		<h5>
			<a href="#">
				Proin eu nisl et arcu iaculis placerat sollicitudin ut est.
			</a>
		</h5>
	</div>
</div>