<!-- Artcile masonary Bootstrap -->
<div class="wrap__masonary">
    <div class="card-columns">
        <!-- one -->
        <div class="wrap__masonary-card">
            <div class="card bg__card-shadow">
                <div class="card-img-top">
                    <a href="#" class="">
                        <img class=" img-fluid h-240  " src="../../../assets/images/placeholder/500x400.jpg"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body">
                    <div class="masonary__category bg-masonary-category">
                        <span>
                            <a href="#">
                                travel tips
                            </a>
                        </span>
                    </div>
                    <h4 class="card-title">
                        <a href="#">
                            Card title that wraps to a new line
                        </a>
                    </h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>


                </div>
                <div class="card-footer masonary__title-info-author-card bg-white">

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                By David Hall,
                            </span>
                        </li>
                        <li class="list-inline-item">

                            <span>
                                Descember 09, 2016
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <!-- two -->
        <div class="wrap__masonary-card">
            <div class="card">
                <div class="card-img-top">


                    <a href="#" class="">
                        <img class=" img-fluid h-150  " src="../../../assets/images/placeholder/500x400.jpg"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body">
                    <div class="masonary__category bg-masonary-category">
                        <span>
                            <a href="#">
                                travel tips
                            </a>
                        </span>
                    </div>
                    <h4 class="card-title">
                        <a href="#">
                            Card title that wraps to a new line
                        </a>
                    </h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>


                </div>
                <div class="card-footer masonary__title-info-author-card bg-white">

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                By David Hall,
                            </span>
                        </li>
                        <li class="list-inline-item">

                            <span>
                                Descember 09, 2016
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Three -->
        <div class="wrap__masonary-card">
            <div class="card">
                <div class="card-img-top">
                    <a href="#" class="">
                        <img class=" img-fluid h-270  " src="../../../assets/images/placeholder/500x400.jpg"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body">
                    <div class="masonary__category bg-masonary-category">
                        <span>
                            <a href="#">
                                travel tips
                            </a>
                        </span>
                    </div>
                    <h4 class="card-title">
                        <a href="#">
                            Card title that wraps to a new line
                        </a>
                    </h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>


                </div>
                <div class="card-footer masonary__title-info-author-card bg-white">

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                By David Hall,
                            </span>
                        </li>
                        <li class="list-inline-item">

                            <span>
                                Descember 09, 2016
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Four -->
        <div class="wrap__masonary-card">
            <div class="card">
                <div class="card-img-top">
                    <a href="#" class="">
                        <img class=" img-fluid h-270  " src="../../../assets/images/placeholder/500x400.jpg"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body">
                    <div class="masonary__category bg-masonary-category">
                        <span>
                            <a href="#">
                                travel tips
                            </a>
                        </span>
                    </div>
                    <h4 class="card-title">
                        <a href="#">
                            Card title that wraps to a new line
                        </a>
                    </h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>


                </div>
                <div class="card-footer masonary__title-info-author-card bg-white">

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                By David Hall,
                            </span>
                        </li>
                        <li class="list-inline-item">

                            <span>
                                Descember 09, 2016
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>



        <!-- Five -->
        <div class="wrap__masonary-card">
            <div class="card">
                <div class="thumbnail-cover ">
                    <a href="#">
                        <img class="img-fluid h-540" src="../../../assets/images/placeholder/600x600.jpg"
                            alt="Card image">
                    </a>

                </div>
                <div class="masonary__category bg-masonary-category">
                    <span>
                        <a href="#">
                            travel tips
                        </a>
                    </span>
                </div>
                <div class="masonary__title">
                    <h4>
                        <a href="#">Expert Tips: How To Become A Professional Travel Blogger </a>
                    </h4>
                    <p>
                        When we get out of the glass bottle of our ego and when we escape like the squirrels in the...
                    </p>
                </div>
                <div class="masonary__title-info-author">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                By David Hall,
                            </span>
                        </li>
                        <li class="list-inline-item">

                            <span>
                                Descember 09, 2016
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- six -->
        <div class="wrap__masonary-card">
            <div class="card">
                <div class="card-img-top">


                    <a href="#" class="">
                        <img class=" img-fluid h-150  " src="../../../assets/images/placeholder/500x400.jpg"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body">
                    <div class="masonary__category bg-masonary-category">
                        <span>
                            <a href="#">
                                travel tips
                            </a>
                        </span>
                    </div>
                    <h4 class="card-title">
                        <a href="#">
                            Card title that wraps to a new line
                        </a>
                    </h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>


                </div>
                <div class="card-footer masonary__title-info-author-card bg-white">

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                By David Hall,
                            </span>
                        </li>
                        <li class="list-inline-item">

                            <span>
                                Descember 09, 2016
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <!-- seven -->
        <div class="wrap__masonary-card">
            <div class="card">
                <div class="thumbnail-cover ">
                    <a href="#">
                        <img class="img-fluid h-540" src="../../../assets/images/placeholder/600x600.jpg"
                            alt="Card image">
                    </a>

                </div>
                <div class="masonary__category bg-masonary-category">
                    <span>
                        <a href="#">
                            travel tips
                        </a>
                    </span>
                </div>
                <div class="masonary__title">
                    <h4>
                        <a href="#">Expert Tips: How To Become A Professional Travel Blogger </a>
                    </h4>
                    <p>
                        When we get out of the glass bottle of our ego and when we escape like the squirrels in the...
                    </p>
                </div>
                <div class="masonary__title-info-author">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                By David Hall,
                            </span>
                        </li>
                        <li class="list-inline-item">

                            <span>
                                Descember 09, 2016
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- eight -->
        <div class="wrap__masonary-card">
            <div class="card">
                <div class="card-img-top">


                    <a href="#" class="">
                        <img class=" img-fluid h-360  " src="../../../assets/images/placeholder/500x400.jpg"
                            alt="Card image cap">
                    </a>
                </div>
                <div class="card-body">
                    <div class="masonary__category bg-masonary-category">
                        <span>
                            <a href="#">
                                travel tips
                            </a>
                        </span>
                    </div>
                    <h4 class="card-title">
                        <a href="#">
                            Card title that wraps to a new line
                        </a>
                    </h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>


                </div>
                <div class="card-footer masonary__title-info-author-card bg-white">

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                By David Hall,
                            </span>
                        </li>
                        <li class="list-inline-item">

                            <span>
                                Descember 09, 2016
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>