<!-- Article Detail -->
<div class="wrap__article-detail">
    <div class="wrap__article-detail-title">
        <h1>
            These Are the 5 Big Tech Stories to Watch in 2017
        </h1>
        <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, hic.
        </h3>
    </div>
    <hr>
    <div class="wrap__article-detail-info">
        <ul class="list-inline">
            <li class="list-inline-item">
                <figure class="image-profile">
                    <img src="../../../assets/images/placeholder/logo.jpg" alt="">
                </figure>
            </li>
            <li class="list-inline-item">

                <span>
                    by
                </span>
                <a href="#">
                    john doe,
                </a>
            </li>
            <li class="list-inline-item">
                <span class="text-dark text-capitalize ml-1">
                    descember 09, 2016
                </span>
            </li>
            <li class="list-inline-item">
                <span class="text-dark text-capitalize">
                    in
                </span>
                <a href="#">
                    business
                </a>


            </li>
        </ul>
    </div>

    <div class="wrap__article-detail-image mt-4">
        <figure>
            <img src="../../../assets/images/placeholder/800x500.jpg" alt="" class="img-fluid">
        </figure>
    </div>
    <div class="wrap__article-detail-content">
        <div class="total-views">
            <div class="total-views-read">
                15.k
                <span>
                    views
                </span>
            </div>


            <ul class="list-inline">
                <span class="share">share on:</span>
                <li class="list-inline-item">
                    <a class="btn btn-social-o facebook" href="#">
                        <i class="fa fa-facebook-f"></i>
                        <span>facebook</span>
                    </a>

                </li>
                <li class="list-inline-item">
                    <a class="btn btn-social-o twitter" href="#">
                        <i class="fa fa-twitter"></i>
                        <span>twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-social-o whatsapp" href="#">
                        <i class="fa fa-whatsapp"></i>
                        <span>whatsapp</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-social-o telegram" href="#">
                        <i class="fa fa-telegram"></i>
                        <span>telegram</span>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn btn-linkedin-o linkedin" href="#">
                        <i class="fa fa-linkedin"></i>
                        <span>linkedin</span>
                    </a>
                </li>

            </ul>
        </div>
        <p class="has-drop-cap-fluid">
            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
            day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of
            Grammar.

            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
            ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
            <br>
            <br>
            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and
            devious Semikoli, but the Little Blind Text didn’t listen. On her way she met a copy. The copy warned the
            Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that
            was left from its origin would be the word “and” and the Little Blind Text should turn around and return to
            its own, safe country.

            <br>
            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and
            devious Semikoli, but the Little Blind Text didn’t listen. On her way she met a copy. The copy warned the
            Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that
            was left from its origin would be the word “and” and the Little Blind Text should turn around and return to
            its own, safe country.
        </p>

        ${require('./blockquote.html')}


        <h5>How Tech Startup Survive Without Funding</h5>
        <p>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
            ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
        </p>
    </div>


</div>