<!-- Post Article -->
<div class="card__post__transition mt-4">
	<div class="card__post__body card__post-height ">
		<a href="#">
			<img src="../../../assets/images/placeholder/600x600.jpg" class="img-fluid w-100" alt="">
		</a>
		<div class="card__post__content bg__post-cover bg__post-cover-height ">
			<div class="card__post__category text-capitalize">
				travel
			</div>
			<div class="card__post__title">
				<h5>
					<a href="#" class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
				</h5>
			</div>

		</div>
	</div>

</div>