<!-- Post Article -->
<div class="card__post mb-4">
	<div class="card__post__body card__post-height">
		<a href="#">
			<img src="../../images/product/article8.jpg" class="img-fluid" alt="">
		</a>
		<div class="card__post__content bg__post-cover bg__post-cover-height">
			<div class="card__post__category text-capitalize">
				travel
			</div>
			<div class="card__post__title">
				<h6>
					<a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
				</h6>
			</div>
			<div class="card__post__author-info">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="#">
							by david hall
						</a>
					</li>
					<li class="list-inline-item">
						<span>
							Descember 09, 2016
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>