<!-- Post article -->
<div class="card__post mb-4 mt-30">
	<div class="card__post__body card__post__transition">
		<a href="#">
			<img src="../../images/product/article.jpg" class="img-fluid" alt=""
				style="height: 375px; max-width: 100%;">
		</a>
		<div class="card__post__content bg__post-cover">
			<div class="card__post__category">
				travel
			</div>
			<div class="card__post__title">
				<h5>
					<a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
				</h5>
			</div>
			<div class="card__post__author-info">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="#">
							by david hall
						</a>
					</li>
					<li class="list-inline-item">
						<span>
							Descember 09, 2016
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>