<!-- List Article -->
<div class="card__post__list">
    <div class="list-number">
        <span>
            1
        </span>
    </div>
    <a href="#" class="category">
        covid-19
    </a>
    <ul class="list-inline">
        <li class="list-inline-item">

            <h5>
                <a href="#">
                    Gegera Corona, Kekayaan Bos Zoom Nambah Rp 64 T dalam 3 Bulan - CNBC Indonesia

                </a>
            </h5>
        </li>
    </ul>

</div>


<div class="card__post__list">
    <div class="list-number">
        <span>
            2
        </span>
    </div>
    <a href="#" class="category">
        Startup
    </a>
    <ul class="list-inline">
        <!-- <li class="list-inline-item">
            <a href="#" class="author-info">
                by david hall
            </a>

        </li>
        <li class="list-inline-item">
            <span>
                <i class="fa fa-calendar"></i>
                march 01, 2020
            </span>

        </li> -->
        <li class="list-inline-item">
            <h5>
                <a href="#">
                    Gegera Corona, Kekayaan Bos Zoom Nambah Rp 64 T dalam 3 Bulan - CNBC Indonesia

                </a>
            </h5>
        </li>
    </ul>
</div>