<!-- List Article -->

<div class="card__post__list">
    <a href="#" class="category">
        sport
    </a>
    <ul class="list-inline">
        <li class="list-inline-item">
            <!-- <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="author-info">
                        by david hall
                    </a>

                </li>
                <li class="list-inline-item">
                    <span>
                        <i class="fa fa-calendar"></i>
                        march 01, 2020
                    </span>

                </li>
            </ul> -->
            <h5>
                <a href="#">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.

                </a>
            </h5>
        </li>
    </ul>

</div>

<div class="card__post__list">

    <a href="#" class="category">
        life style
    </a>
    <ul class="list-inline">
        <li class="list-inline-item">
            <!-- <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="author-info">
                        by david hall
                    </a>

                </li>
                <li class="list-inline-item">
                    <span>
                        <i class="fa fa-calendar"></i>
                        march 01, 2020
                    </span>

                </li>
            </ul> -->
            <h5>
                <a href="#">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.

                </a>
            </h5>
        </li>
    </ul>

</div>