<!-- Profile author -->
<div class="wrap__profile">
    <div class="wrap__profile-author">
        <figure>
            <img src="../../../assets/images/placeholder/80x80.jpg" alt="" class="img-fluid rounded-circle">
        </figure>
        <div class="wrap__profile-author-detail">
            <div class="wrap__profile-author-detail-name">author</div>
            <h4>jhon doe</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam ad beatae itaque ea non
                placeat officia ipsum praesentium! Ullam?</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="btn btn-social btn-social-o facebook ">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-social btn-social-o twitter ">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-social btn-social-o instagram ">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-social btn-social-o telegram ">
                        <i class="fa fa-telegram"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-social btn-social-o linkedin ">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>