<!-- widget Social media -->
<div class="wrap__social__media">
	<a href="#" target="_blank">
		<div class="social__media__widget facebook">
			<span class="social__media__widget-icon">
				<i class="fa fa-facebook"></i>
			</span>
			<span class="social__media__widget-counter">
				19,243 fans
			</span>
			<span class="social__media__widget-name">
				like
			</span>
		</div>
	</a>
	<a href="#" target="_blank">
		<div class="social__media__widget twitter">
			<span class="social__media__widget-icon">
				<i class="fa fa-twitter"></i>
			</span>
			<span class="social__media__widget-counter">
				2.076 followers
			</span>
			<span class="social__media__widget-name">
				follow
			</span>
		</div>
	</a>
	<a href="#" target="_blank">
		<div class="social__media__widget youtube">
			<span class="social__media__widget-icon">
				<i class="fa fa-youtube"></i>
			</span>
			<span class="social__media__widget-counter">
				15,200 followers
			</span>
			<span class="social__media__widget-name">
				subscribe
			</span>
		</div>
	</a>

</div>