<!-- News Tags -->
<div class="blog-tags">
	<ul class="list-inline">
		<li class="list-inline-item">
			<i class="fa fa-tags">
			</i>
		</li>
		<li class="list-inline-item">
			<a href="#">
				#property
			</a>
		</li>
		<li class="list-inline-item">
			<a href="#">
				#sea
			</a>
		</li>
		<li class="list-inline-item">
			<a href="#">
				#programming
			</a>
		</li>
		<li class="list-inline-item">
			<a href="#">
				#sea
			</a>
		</li>
		<li class="list-inline-item">
			<a href="#">
				#property
			</a>
		</li>
	</ul>
</div>