<!-- Trending News Start -->
<div class="trending-news pt-4 border-tranding">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="trending-news-inner">
					<div class="title">
						<i class="fa fa-bolt"></i>
						<strong>trending news</strong>
					</div>
					<div class="trending-news-slider">
						<div class="item-single">
							<a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								.</a>
						</div>
						<div class="item-single">
							<a href="javascript:void(0)">eugiat nisl pretium fusce id velit ut tortor
							</a>
						</div>
						<div class="item-single">
							<a href="javascript:void(0)">Morbi tincidunt augue interdum velit nunc
								pulvinar sapien.</a>
						</div>
						<div class="item-single">
							<a href="javascript:void(0)">Tincidunt nunc pulvinar sapien et ligula
								ullamcorper .</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Trending News End -->