.inner-table{
    display: table;
    width: 100%;
    height: 100%;

    .inner-cell{
        display: table-cell;
        vertical-align: middle;
    }
}


.padding4x{
    padding-top: 80px;
    padding-bottom: 80px;
}


.text-light{
    color: #fff;
    
    &.title-lg,
    &.title-md{
        color: #fff;
    }


}


.text-brand{
    color: @brand-color;
}


.ph1{ padding-left: 10px; padding-right: 10px; }
.ph2{ padding-left: 20px; padding-right: 20px; }
.ph3{ padding-left: 30px; padding-right: 30px; }
.ph4{ padding-left: 40px; padding-right: 40px; }
.ph5{ padding-left: 50px; padding-right: 50px; }
.ph6{ padding-left: 60px; padding-right: 60px; }
.ph7{ padding-left: 70px; padding-right: 70px; }
.ph8{ padding-left: 80px; padding-right: 80px; }
.ph9{ padding-left: 90px; padding-right: 90px; }
.ph10{ padding-left: 100px; padding-right: 100px; }
.ph11{ padding-left: 110px; padding-right: 101px; }
.ph12{ padding-left: 120px; padding-right: 120px; }
.ph13{ padding-left: 130px; padding-right: 130px; }
.ph14{ padding-left: 140px; padding-right: 140px; }
.ph15{ padding-left: 150px; padding-right: 150px; }
.ph16{ padding-left: 160px; padding-right: 160px; }
.ph0{ padding-left: 0px; padding-right: 0px; }
.phl0{ padding-left: 0px; }
.phr0{ padding-right: 0px; }



.pv1{ padding-top: 10px; padding-bottom: 10px; }
.pv2{ padding-top: 20px; padding-bottom: 20px; }
.pv3{ padding-top: 30px; padding-bottom: 30px; }
.pv4{ padding-top: 40px; padding-bottom: 40px; }
.pv5{ padding-top: 50px; padding-bottom: 50px; }
.pv6{ padding-top: 60px; padding-bottom: 60px; }
.pv7{ padding-top: 70px; padding-bottom: 70px; }
.pv8{ padding-top: 80px; padding-bottom: 80px; }
.pv9{ padding-top: 90px; padding-bottom: 90px; }
.pv10{ padding-top: 100px; padding-bottom: 100px; }
.pv11{ padding-top: 110px; padding-bottom: 101px; }
.pv12{ padding-top: 120px; padding-bottom: 120px; }
.pv13{ padding-top: 130px; padding-bottom: 130px; }
.pv14{ padding-top: 140px; padding-bottom: 140px; }
.pv15{ padding-top: 150px; padding-bottom: 150px; }
.pv16{ padding-top: 160px; padding-bottom: 160px; }
.pv0{ padding-top: 0px; padding-bottom: 0px; }
.pvt0{ padding-top: 0px; }
.pvb0{ padding-bottom: 0px; }






