/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Nirvana
Version:		1
Last change:	30/05/15 [no Change]
Primary use:	Company Portfolio
-------------------------------------------------------------------*/

/*------------------------------------------------------------------

[Table of contents]

1. import files
2. Background Stretch / .bg-stretch
3. Buttons Styles
4. Wrapper / #wrapper
5. W1 / .w1
6. Header / #header
7. Logo / .logo
8. Nav2 / #nav2
9. Nav Holder2 / .nav-holder2
10. Nav Opener2 / .nav-opener2
11. Btn Close2 / .btn-close2
12. Nav / #nav
13. Nav Opener / .nav-opener
14. Nav Holder / .nav-holder
15. Btn Close / .btn-close
16. Search Form / .search-form
17. Nav Posts / .nav-posts
18. Main Gallery / .main-gallery
19. Post Carousel / .post-carousel
20. Post Over / .post-over
21. Add Nav / .add-nav
22. Two Cols / .two-cols
23. Three Cols / .three-cols
24. Location Post / .location-post
25. Fullwidth Post / .fullwidth-post
26. Banner Gallery / .banner-gallery
27. Twocolumns / .twocolumns
28. Threecolumns / .threecolumns
29. Location Block / .location-block
30. Post Quotes / .post-quotes
31. Banner Gallery / .banner-gallery
32. Footer Holder / .footer-holder
33. Footer Aside / .footer-aside
34. Footer Logo / .footer-logo
35. Social Networks / .social-networks
36. Info Nav / .info-nav
37. Instagram Nav / .instagram-nav
38. Footer / #footer
39. Copyrights / .copyrights
40. Footer Nav / .footer-nav
41. Main Banner / .main-banner
42. Contact Block / .contact-block
43. Comment Form / .comment-form
44. Parallax Holder / .parallax-holder
45. Parallax Frame / .parallax-frame
46. Post Info / .post-info
47. Blockquote / .blockquote
48. Post Images / .post-images
49. Related Posts / .related-posts
50. Post Buttons / .post-buttons
51. Next Post , Prev Post / .next-post, .prev-post
52. Related Articles / .related-articles
53. Carousel / .carousel
54. Comments Block / .comments-block
55. Commnents Heading / .commnents-heading
56. Threecomments / .threecomments
57. Comments Holder / .comments-holder
58. Comments Box / .comments-box
59. Comment Nav / .comment-nav
60. Form Area / .form-area
61. short codes

/*------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. import files
-------------------------------------------------------------------*/

$mq-breakpoints: (
    // Base device classes
    mobile:      320px,
    tablet:      640px,
    desktop:    1024px,
    widescreen: 1200px,
    tvscreen:   1920px,

    // Tweakpoints
    mobileLandscape: 480px
);

// Show active breakpoint in top right corner of viewport
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, widescreen, tvscreen);

@import "bootstrap-custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "base/markup-mixins";
@import "font-awesome/font-awesome";
@import "mq";

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*------------------------------------------------------------------
2. Background Stretch / .bg-stretch
-------------------------------------------------------------------*/

.bg-stretch{
	@extend %postionreset;
	overflow: hidden;
	img{position: absolute;}
}

/*------------------------------------------------------------------
3. Buttons Styles
-------------------------------------------------------------------*/

.btn-primary{
	color:$input-color;
	background: none;
	border-radius:0;
	border:1px solid $input-color;
	font:700 16px/20px $font-raleway;
	text-transform: uppercase;
	outline: none !important;
	padding:9px 10px;
	min-width:140px;
	&:focus,
	&:hover{
		color:$input-color;
		color:$white;
	}
}
.btn-flash{
	background: $link-color;
	@include square(60px);
	text-align: center;
	color:$white;
	font-size: 24px;
	line-height:56px;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	&:focus,
	&:hover{
		text-decoration: none;
		outline:none;
		background: $link-hover-color;
		color:$white;
	}
}
.btn-review{
	background: $link-color;
	padding:0 5px;
	@include square(85px);
	text-align: center;
	color:$white;
	font:700 24px/28px $font-montsrrat;
	@include v-align2(txt, $valign: middle);
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	&:focus,
	&:hover{
		text-decoration: none;
		outline:none;
		background: $link-hover-color;
		color:$white;
	}
	&:before{margin:0;}
}
.btn-next,
.btn-prev{
	top: 50%;
	left: 0;
	padding:0;
	z-index:99;
	color:$white;
	display: block;
	margin:-55px 0 0;
	position: absolute;
	text-align: center;
	@include size(29px, 110px);
	background: rgba(0, 0, 0, 0.3);
	@include breakpoint($mobile){
		@include size(22px, 80px);
	}
	.fa{
		font-size: 29px;
		line-height: 29px;
		position: absolute;
		top:50%;
		left:50%;
		margin: -14px 0 0 -8px;
	}
	&:focus,
	&:hover{
		color:$white;
		outline:none;
		text-decoration: none;
		background: rgba(0, 0, 0, 0.6);
	}
}
.btn-next{
	left:auto;
	right: 0;
	.fa{margin: -14px 0 0 -4px;}
}
.btn-next2,
.btn-prev2{
	top: 50%;
	left: -36px;
	padding:0;
	z-index:99;
	color:$gray;
	display: block;
	font-size: 17px;
	line-height:18px;
	margin:-17px 0 0;
	position: absolute;
	text-align: center;
	@include square(30px);
	border-radius:50%;
	@include breakpoint($mobile){
		top:auto;
		bottom:0;
		left: auto;
		position:relative;
		@include vertical(inline-block, top);
		margin:0 10px;
	}
	&:focus,
	&:hover{
		background: $link-color;
		color:$white;
		outline:none;
		text-decoration: none;
	}
	.fa{
		@include vertical(inline-block, middle);
	}
}
.btn-next2{
	left:auto;
	right: -36px;
	@include breakpoint($mobile){
		right: auto;
	}
	.fa{
		margin:0 0 0 4px;
		@include breakpoint($mobile){margin:0 0 0 3px;}
	}
}
.btn-instagram{
	display: block;
	position:absolute;
	bottom:10px;
	right: 9px;
	@include square(30px);
	background: $gray;
	border-radius:50%;
	color:$white;
	font-size: 15px;
	line-height:30px;
	text-align: center;
	z-index:990;
	&:focus,
	&:hover{
		text-decoration: none;
		outline:none;
	}
}

.postbox-next,
.postbox-prev{
	top: 1px;
	left: -310px;
	width: 263px;
	position: absolute;
	@include breakpoint(1850px){
		left: 15px;
	}
	@include breakpoint(650px){
		width: 50px;
	}
	.post-txt{
		color:$black2;
		background: url(../images/border01.png) repeat-x 0 100%;
		float: left;
		width: 222px;
		padding:0 0 8px;
		text-transform: uppercase;
		font:13px/16px $font-montsrrat;
		text-align: center;
		margin:-3px 0 0;
		@include element(after, auto, auto, 0, 100%, #9da0a2);
		@include breakpoint(650px){display: none;}
		&:after{
			border-radius:50%;
			@include square(5px);
			margin:0 0 -2px -6px;
		}
	}
}
.postbox-next{
	left:auto;
	right: -310px;
	@include breakpoint(1850px){
		left: auto;
		right: 15px;
	}
	.post-txt{
		float: right;
		&:after{
			left:auto;
			right: 100%;
			margin:0 0 -2px -6px;
		}
	}
}
.post-next,
.post-prev{
	border-radius:50%;
	border:2px solid $link-color;
	@include square(41px);
	text-align: center;
	font-size: 26px;
	line-height:35px;
	color:$link-color;
	float: left;
	&:focus,
	&:hover{
		text-decoration: none;
		background: $link-color;
		color:$white;
	}
}
.post-next{float: right;}
/*------------------------------------------------------------------
4. Wrapper / #wrapper
-------------------------------------------------------------------*/
#wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
}
/*------------------------------------------------------------------
5. W1 / .w1
-------------------------------------------------------------------*/
.w1{
	position:relative;
	right: 0;
	@include transition (all, 0.4s, ease);
}
.nav-active{
	.w1{
		right:485px;
		@include breakpoint($tablet){right: 400px;}
		@include breakpoint($mobile){right: 250px;}
	}
}
.nav-active2{
	.w1{
		@include breakpoint($mobile){right: 250px;}
	}
}
/*------------------------------------------------------------------
6. Header / #header
-------------------------------------------------------------------*/
#header{
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	position: absolute;
	padding-top: 50px;
	@include breakpoint($mobile){padding-top: 30px;}
}
/*------------------------------------------------------------------
7. Logo / .logo
-------------------------------------------------------------------*/
.logo{
	float: left;
	@include size(120px, 20px);
	margin:0 0 0 77px;
	@include breakpoint($desktop){margin:0 0 0 25px;}
	@include breakpoint($mobile){margin:0 0 0 15px;}
	a {
		display: block;
		outline: none;
	}
	img{@extend %img-responsive;}
}
/*------------------------------------------------------------------
8. Nav2 / #nav2
-------------------------------------------------------------------*/
#nav2{
	float: right;
	max-width:1000px;
	padding:0 4.1% 0 0;
	margin:-1px 0 0;
	@include breakpoint($desktop){padding:0 25px 0 0;}
	@include breakpoint($tablet){padding:6px 25px 0 0;}
	@include breakpoint($tablet){padding:6px 15px 0 0;}
}
/*------------------------------------------------------------------
9. Nav Holder2 / .nav-holder2
-------------------------------------------------------------------*/
.nav-holder2{
	float: right;
	@include breakpoint($mobile){
		top:-50px;
		right:-250px;
		padding:150px 15px 50px;
		width: 250px;
		background: $dark-gray;
		text-align: center;
		@include element(before, 100%, 0, -9999px, 0, $dark-gray);
		position:absolute;
		z-index:9999;
	}
	ul{
		margin:0;
		font:13px/16px $font-montsrrat;
		text-transform: uppercase;
		li{
			padding:0;
			margin:0 0 0 32px;
			position:relative;
			@include breakpoint($mobile){
				float: none;
				display: block;
				padding:0;
				margin:0 0 38px;
			}
			a{
				color:$white;
				position:relative;
				.fa{
					color:$link-color;
					font-size: 10px;
					line-height:10px;
				}
				&:focus,
				&:hover{
					outline:none;
					text-decoration: none;
					color:$link-color;
				}
			}
			&:hover{.nav-drop2{
				opacity: 1;
				visibility: visible;
				transform: scale(1,1);
				-webkit-transform: scale(1,1);
				@include breakpoint($mobile){
					display: block;
					max-height: 999px;
				}
			}}
			.nav-drop2{
				position: absolute;
				top: 100%;
				left: 0;
				opacity: 0;
				visibility: hidden;
				padding:17px 0 0;
				width: 200px;
				transform: scale(1.5,1.5);
				-webkit-transform: scale(1.5,1.5);
				@include transition (all, 0.4s, ease);
				@include breakpoint($mobile){
					position:relative;
					left: auto;
					top:auto;
					width: 100%;
					opacity: 1;
					max-height: 0;
					padding:0;
					transform: scale(1,1);
					-webkit-transform: scale(1,1);
				}
				ul{
					margin:0;
					padding:26px 25px 10px;
					background: $dark-gray;
					@include breakpoint($mobile){padding: 19px 0 0;}
					li{
						float: none;
						display: block;
						margin:0 0 18px;
					}
				}
			}
		}
	}
}
/*------------------------------------------------------------------
10. Nav Opener2 / .nav-opener2
-------------------------------------------------------------------*/
.nav-opener2{
	display: none;
	float: right;
	width: 20px;
	@include breakpoint($mobile){display: block;}
	span{
		display: block;
		height: 3px;
		background: $white;
		+span{margin-top:3px;}
	}
	&:hover{
		text-decoration: none;
		outline:none;
		span{background: $link-color;}
	}
	&:focus{
		text-decoration: none;
		outline:none;
	}
}
/*------------------------------------------------------------------
11. Btn Close2 / .btn-close2
-------------------------------------------------------------------*/
.btn-close2{
	position: absolute;
	top: 43px;
	right: 29px;
	font-size: 20px;
	display: none;
	@include breakpoint($mobile){display: block;}
	&:focus,
	&:hover{
		outline:none;
		color:$white;
		text-decoration: none;
	}
}
/*------------------------------------------------------------------
12. Nav / #nav
-------------------------------------------------------------------*/
#nav{
	float: right;
	padding:0 4% 0 0;
	@include breakpoint($tablet){padding:0 25px 0 0;}
	@include breakpoint($mobile){padding:3px 0 0;}
	.post-over:hover .add-nav:after{top: -65px;}
}
/*------------------------------------------------------------------
13. Nav Opener / .nav-opener
-------------------------------------------------------------------*/
.nav-opener{
	float: right;
	width: 20px;
	span{
		display: block;
		height: 3px;
		background: $white;
		+span{margin-top:3px;}
	}
	&:hover{
		text-decoration: none;
		outline:none;
		span{background: $link-color;}
	}
	&:focus{
		text-decoration: none;
		outline:none;
	}
}
/*------------------------------------------------------------------
14. Nav Holder / .nav-holder
-------------------------------------------------------------------*/
.nav-holder{
	top:-50px;
	right:-485px;
	padding:161px 2.6% 50px;
	width: 485px;
	background: $dark-gray;
	text-align: center;
	@include element(before, 100%, 0, -9999px, 0, $dark-gray);
	position:absolute;
	z-index:9999;
	@include breakpoint($tablet){
		width: 400px;
		right: -400px;
	}
	@include breakpoint($mobile){
		width: 250px;
		right: -250px;
	}
	@include breakpoint($mobile){padding:161px 15px 50px;}
	ul{
		font:700 18px/22px $font-montsrrat;
		text-transform: uppercase;
		padding:0 0 61px;
		li{
			float: none;
			display: block;
			padding:0;
			margin:0 0 38px;
			a{
				color:$white;
				position:relative;
				.fa{
					color:$link-color;
					font-size: 10px;
					line-height:10px;
				}
				&:focus,
				&:hover{
					outline:none;
					text-decoration: none;
					color:$link-color;
				}
			}
			&.active{
				a{
					outline:none;
					text-decoration: none;
					color:$link-color;
				}
			}
			&:hover{.nav-drop{max-height: 999px;}}
			.nav-drop{
				width: 100%;
				max-height: 0;
				overflow: hidden;
				position:relative;
				@include transition (all, 0.4s, ease);
				ul{
					font-size: 14px;
					font-weight: 400;
					line-height:18px;
					padding:19px 0 0;
					margin:0 0 -18px;
					li{
						margin:0 0 18px;
						a{
							color:$link-color;
							&:hover{
								color:$white;
							}
						}
					}
				}
			}
		}
	}
	.social-networks{
		display: block;
		padding:0 0 46px;
		li{
			margin:0 22px;
			@include vertical(inline-block, middle);
			a{
				color:$white;
				.fa{
					color:$white;
					font-size: 22px;
				}
				&:hover{
					color:$link-color;
					.fa{
						color:$link-color;
					}
				}
				
			}
		}
	}
	.copyrights{
		display: block;
		float: none;
		display: block;
		color:$white;
		font-size: 15px;
		@include breakpoint($mobile){
			font-size: 13px;
		}
	}
	.btn-close,
	.nav-posts,
	.search-form{display: block;}
}
/*------------------------------------------------------------------
15. Btn Close / .btn-close
-------------------------------------------------------------------*/
.btn-close{
	position: absolute;
	top: 43px;
	right: 29px;
	font-size: 20px;
	display: none;
	&:focus,
	&:hover{
		outline:none;
		color:$white;
		text-decoration: none;
	}
}
/*------------------------------------------------------------------
16. Search Form / .search-form
-------------------------------------------------------------------*/
.search-form{
	width: 200px;
	position: absolute;
	top: 47px;
	left: 31px;
	border-bottom:1px solid #a3a3a2;
	margin:0;
	display:none;
	@include breakpoint($mobile){
		top: 100px;
		left: 28px;
	}
	.form-control{
		background: none;
		border:0;
		padding:2px 3px 4px 0;
		float: left;
		width: 180px;
		@include size(180px, 21px);
		color:$light-gray5;
		font:13px/20px $font-montsrrat;
		@include placeholder{color:$light-gray5;}
		&:focus{box-shadow:none;}
	}
	.btn-default{
		float: right;
		padding:0;
		background: none;
		border:0;
		margin:0;
		color:$light-gray5;
		font-size: 15px;
	}
}
/*------------------------------------------------------------------
17. Nav Posts / .nav-posts
-------------------------------------------------------------------*/
.nav-posts{
	overflow: hidden;
	display: none;
	margin:0 0 18px;
	.title{
		font:700 18px/22px $font-montsrrat;
		display: block;
		margin:0 0 25px;
		a{
			color:$link-color;
			&:focus,
			&:hover{
				color:$white;
				text-decoration: none;
				outline:none;
			}
		}
	}
	.banner-gallery{
		height: auto;
		margin:0 0 30px;
		img{@extend %img-responsive;}
		.add-nav{
			font-weight: 400;
			font-size: 12px;
			line-height:14px;
			padding:15px 0 0;
			@include breakpoint($mobile){font-size: 8px;}
			li{
				margin:0 13px;
				@include vertical(inline-block, middle);
				@include breakpoint($mobile){
					margin:0 8px;
					&:before{
						font-size: 8px;
						left:-12px;
						top: 1px;
					}
				}
			}
		}
	}
	.post-over{
		h3{
			margin:-2px 0 13px;
			@include breakpoint($mobile){
				font-size: 13px;
			}
		}
	}
	.post-quotes{
		@include breakpoint($mobile){
			font-size: 13px;
		}
		&:after{
			font-size: 145px;
			margin:11px 0 0 -76px;
			@include breakpoint($mobile){
				font-size: 135px;
				margin:7px 0 0 -61px;
			}
		}
	}
}
/*------------------------------------------------------------------
18. Main Gallery / .main-gallery
-------------------------------------------------------------------*/
.main-gallery {
	position: relative;
	overflow: hidden;
	.mask{
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	.slideset{
		width: 99999px;
		float: left;
	}
	.slide{
		width: 100%;
		float: left;
		height: 600px;
		@include breakpoint($desktop){height: 500px;}
		@include breakpoint($tablet){height: 400px;}
		&.active{z-index: 1;}
	}
}
/*------------------------------------------------------------------
19. Post Carousel / .post-carousel
-------------------------------------------------------------------*/
.post-carousel{
	position: relative;
	overflow: hidden;
	.mask{
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	.slideset{
		width: 100% !important;
		white-space:nowrap;
		float: left;
		font-size: 0;
		letter-spacing:-4px;
	}
	.slide{
		width: 25% !important;
		font-size: 16px;
		letter-spacing:0;
		@include vertical(inline-block, top);
		white-space:normal;
		height: 480px;
		position:relative;
		overflow:hidden;
		@include breakpoint($screen-md-max){width: 33.33% !important;}
		@include breakpoint($screen-sm-max){width: 50% !important;}
		@include breakpoint($mobile){width: 100% !important;}
	}
	.btn-next,
	.btn-prev{
		top: 0;
		bottom: 0;
		height: auto;
		@include breakpoint($tablet){width: 22px;}
		.fa{
			position: absolute;
			top: 50%;
			left: 50%;
			margin:0 0 0 -7px;
		}
	}
	.btn-next{
		.fa{margin:0 0 0 -3px;}
	}
	.post-over{
		h2,
		h1{
			font-size: 24px;
			line-height:28px;
			@include breakpoint($tablet){
				font-size: 18px;
				line-height:22px;
			}
		}
	}
	.add-nav{
		@include breakpoint($desktop){
			font-size: 10px;
		}
		li{
			@include breakpoint($tablet){
				margin:0 7px;
				&:before{
					font-size: 8px;
					left:-12px;
					top: 1px;
				}
			}
		}
		&:after,
		&:before{
			left: 50%;
			right: auto;
			@include size(70px, 1px);
			margin:0 0 0 -35px;
		}
	}
}
/*------------------------------------------------------------------
20. Post Over / .post-over
-------------------------------------------------------------------*/
.post-over{
	background: rgba(34, 34, 34, 0.6);
	@extend %postionreset;
	font:14px/16px $font-montsrrat;
	color:$white;
	.box{
		display:table;
		text-align: center;
		@include square(100%);
	}
	.block{
		@include vertical(table-cell, middle);
	}
	h3,
	h2,
	h1{
		color:$white;
		margin:-19px 0 14px;
		width: 100%;
		@include breakpoint($desktop){
			font-size: 30px;
			line-height:34px;
		}
		@include breakpoint($mobile){
			font-size: 16px;
			line-height:20px;
		}
		a{
			color:$white;
			&:focus,
			&:hover{
				color:$link-color;
				outline:none;
				text-decoration: none;
			}
		}
	}
	h2{
		font-size: 28px;
		line-height:32px;
		margin:-5px 0 14px;
		@include breakpoint($desktop){
			font-size: 22px;
			line-height:24px;
		}
		@include breakpoint($mobile){
			font-size: 16px;
			line-height:20px;
		}
	}
	h3{
		font-size: 18px;
		line-height:22px;
		margin:-5px 0 18px;
	}
	p{margin: 0;}
	&:hover{
		.add-nav{
			&:after{top: -75px;}
			&:before{top:55px;}
		}
	}
	&.quotes{
		&:hover{
			.add-nav:after{top: -85px !important;}
		}
	}
}
/*------------------------------------------------------------------
21. Add Nav / .add-nav
-------------------------------------------------------------------*/
.add-nav{
	margin:0;
	padding:15px 0 0;
	color:$white;
	text-transform: uppercase;
	font:14px/18px $font-montsrrat;
	@include vertical(inline-block, middle);
	@include element(before, 0, -28px, auto, -28px, $white);
	@include element(after, 0, -28px, auto, -28px, $white);
	@include breakpoint($tablet){font-size: 12px;}
	@include breakpoint($mobile){
		font-size: 10px;
		line-height:13px;
	}
	&:after,
	&:before{
		@include transition (all, 0.4s, ease);
		height: 1px;
		@include breakpoint($tablet){
			left: -10px;
			right: -10px;
		}
	}
	li{
		padding:0;
		margin:0 13px;
		@include element2(before, 1px, auto, auto, -19px);
		&:before{
			font-family: 'FontAwesome';
			content:"\f00d";
			font-size: 10px;
		}
		&:first-child{&:before{display: none;}}
		a{
			color:$white;
			&:focus,
			&:hover{
				text-decoration: none;
				color:$link-color;
				outline:none;
			}
		}
	}
}
/*------------------------------------------------------------------
22. Two Cols / .two-cols
-------------------------------------------------------------------*/
.two-cols{
	.main-gallery {
		.slide{
			height: 450px;
			@include breakpoint($desktop){height: 380px;}
			@include breakpoint($tablet){height: 320px;}
		}
		@include breakpoint($tablet){
			.add-nav{font-size: 11px;}
		}
		@include breakpoint($mobile){
			.add-nav{font-size: 10px;}
		}
	}
	.btn-next,
	.btn-prev{
		height: 50px;
		line-height:50px;
		margin:-25px 0 0;
	}
	.post-over:hover .add-nav:before{top: 60px;}
}
/*------------------------------------------------------------------
23. Three Cols / .three-cols
-------------------------------------------------------------------*/
.three-cols{
	.banner-gallery{
		height: 360px;
		@include breakpoint($desktop){height: 300px;}
	}
	.add-nav{
		@include breakpoint($desktop){font-size: 12px;}
		@include breakpoint($tablet){
			font-size: 10px;
			line-height:14px;
			li{
				margin:0 8px;
				&:before{
					font-size: 7px;
					left:-13px;
				}
			}
		}
	}
	.post-over:hover .add-nav:after{top: -65px;}
}
/*------------------------------------------------------------------
24. Location Post / .location-post
-------------------------------------------------------------------*/
.location-post{
	.banner-gallery{
		height: 470px;
		@include breakpoint($desktop){height: 380px;}
		@include breakpoint($tablet){height: 300px;}
	}
	.add-nav{
		@include breakpoint($desktop){
			font-size: 12px;
		}
		@include breakpoint($tablet){
			font-size: 10px;
			line-height:14px;
			li{
				margin:0 8px;
				&:before{
					font-size: 7px;
					left:-13px;
				}
			}
		}
	}
	.post-over:hover .add-nav:after{top: -70px;}
}
/*------------------------------------------------------------------
25. Fullwidth Post / .fullwidth-post
-------------------------------------------------------------------*/
.fullwidth-post{
/*------------------------------------------------------------------
26. Banner Gallery / .banner-gallery
-------------------------------------------------------------------*/
.banner-gallery{
		height: 600px;
		@include breakpoint($desktop){height: 500px;}
		@include breakpoint($tablet){height: 400px;}
	}
	h2{
		font-size: 36px;
		line-height:38px;
		@include breakpoint($mobile){
			font-size: 26px;
			line-height:30px;
		}
	}
	&.add{
		.post-over{background: none;}
	}
}
/*------------------------------------------------------------------
27. Twocolumns / .twocolumns
-------------------------------------------------------------------*/
.twocolumns{
	padding-top: 30px;
	padding-bottom: 30px;
	@include breakpoint($mobile){padding-bottom: 0;}
	.main-gallery {
		.slide{
			height: 370px;
			@include breakpoint($tablet){height: 300px;}
		}
	}
	.banner-gallery{
		height: 370px;
		@include breakpoint($tablet){height: 300px;}
	}
	.two-cols{
		@include breakpoint($mobile){margin-bottom: 30px;}
		.add-nav{
			@include breakpoint($tablet){
				font-size: 10px;
				line-height:13px;
				&:before,
				&:after{
					left: 0;
					right: 0;
				}
				li{
					&:before{
						font-size: 8px;
						left:-17px;
						top: 1px;
					}
				}
			}
			@include breakpoint($mobile){
				font-size: 8px;
				line-height:11px;
			}
		}
	}
}
/*------------------------------------------------------------------
28. Threecolumns / .threecolumns
-------------------------------------------------------------------*/
.threecolumns{
	padding-bottom: 30px;
	@include breakpoint($mobile){padding-bottom: 0;}
	.banner-gallery{
		height: 270px;
		@include breakpoint($tablet){height: 230px;}
	}
	.post-quotes{
		&:after{
			font-size: 145px;
			margin:7px 0 0 -69px;
		}
	}
	.add-nav{
		font-size: 12px;
		&:before,
		&:after{
			left: 0;
			right: 0;
		}
		@include breakpoint($desktop){
			font-size: 10px;
			line-height:13px;
		}
		@include breakpoint($tablet){
			font-size: 8px;
			line-height:11px;
			li{
				&:before{
					font-size: 6px;
					left:-12px;
					top: 1px;
				}
			}
		}
	}
	.three-cols{
		@include breakpoint($mobile){margin-bottom: 30px;}
	}
}
/*------------------------------------------------------------------
29. Location Block / .location-block
-------------------------------------------------------------------*/
.location-block{
	padding-top: 30px;
	padding-bottom: 30px;
	@include breakpoint($mobile){padding-bottom: 0;}
	.banner-gallery{
		height: 570px;
		@include breakpoint($desktop){height: 500px;}
		@include breakpoint($tablet){height: 400px;}
		@include breakpoint($mobile){height: 300px;}
	}
	.location-col{
		.banner-gallery{
			height: 270px;
			margin:30px 0 0;
			@include breakpoint($desktop){height: 235px;}
			@include breakpoint($tablet){
				height: 190px;
				margin:20px 0 0;
			}
			@include breakpoint($mobile){margin-bottom: 30px;}
			&:first-child{margin-top: 0;}
		}
		.post-over{
			h2{
				font-size: 18px;
				line-height:22px;
			}
		}
		.add-nav{
			font-size: 12px;
			&:before,
			&:after{
				left: 0;
				right: 0;
			}
			@include breakpoint($desktop){
				font-size: 10px;
				line-height:13px;
			}
			@include breakpoint($tablet){
				font-size: 8px;
				line-height:11px;
			}
		}
	}
}
/*------------------------------------------------------------------
29. Review Block / .review-block
-------------------------------------------------------------------*/
.review-block{
	padding-bottom: 30px;
	@include breakpoint($mobile){padding-top: 30px;}
}
/*------------------------------------------------------------------
30. Post Quotes / .post-quotes
-------------------------------------------------------------------*/
.post-quotes{
	width: 100%;
	@extend %clearfix;
	font:700 18px/22px $font-montsrrat;
	margin:-2px 0 15px;
	border:0;
	padding:0;
	text-align: center;
	color:$white;
	z-index:1;
	text-transform: uppercase;
	@include element2(after, 50%, auto, auto, 50%);
	@include breakpoint($tablet){
		font-size: 14px;
		line-height:18px;
	}
	&:after{
		content:"\f10d";
		font-size: 195px;
		line-height:50px;
		font-family: 'FontAwesome';
		margin:4px 0 0 -93px;
		color:$black;
		opacity:0.2;
		z-index:-1;
	}
	p{
		margin:0 0 5px;
		a{
			color:$white;
			&:hover{
				outline:none;
				text-decoration: none;
				color:$link-color;
			}
		}
	}
	cite{
		font-weight: 400;
		font-size: 12px;
		line-height:14px;
		color:$white;
		font-style:normal;
	}
	footer{
		&:before{content:"";}
	}
}
/*------------------------------------------------------------------
31. Banner Gallery / .banner-gallery
-------------------------------------------------------------------*/
.banner-gallery{
	position:relative;
	overflow: hidden;
	height: 450px;
	@include breakpoint($desktop){height: 380px;}
	@include breakpoint($tablet){height: 320px;}
	.btn-review,
	.btn-flash{display: none;}
	&.review{
		.btn-review{display: block;}
	}
	&.trending{
		.btn-flash{display: block;}
	}
}
/*------------------------------------------------------------------
32. Footer Holder / .footer-holder
-------------------------------------------------------------------*/
.footer-holder{
	overflow: hidden;
	position:relative;
}
/*------------------------------------------------------------------
33. Footer Aside / .footer-aside
-------------------------------------------------------------------*/
.footer-aside{
	font:12px/24px $font-montsrrat;
	color:$light-gray;
	@include breakpoint($tablet){line-height:18px;}
	p{
		margin: 0 0 41px;
		@include breakpoint($tablet){margin:0 0 15px;}
	}
	h3{
		margin:0 0 25px;
		color:$white;
		text-transform: uppercase;
		@include breakpoint($tablet){margin:0 0 15px;}
		a{
			color:$white;
			&:hover,
			&:focus{
				outline:none;
				text-decoration: none;
				color:$link-color;
			}
		}
		.txt{
			@include vertical(inline-block, top);
			position:relative;
			&:after{
				content:"";
				@include vertical(inline-block, bottom);
				@include square(4px);
				background: $yellow;
				border-radius:50%;
				margin:0 -1px 3px 2px;
			}
		}
	}
	.column{
		text-align: center;
		padding-top:80px;
		@include breakpoint($desktop){padding-top:40px;}
		@include breakpoint($tablet){padding-top:20px;}
		&.social{
			padding-top:74px;
			@include breakpoint($desktop){padding-top:40px;}
			@include breakpoint($tablet){padding-top:20px;}
		}
	}
}
/*------------------------------------------------------------------
34. Footer Logo / .footer-logo
-------------------------------------------------------------------*/
.footer-logo{
	overflow: hidden;
	margin:0 0 22px;
	@include breakpoint($tablet){margin:0 0 10px;}
	.logo{
		float: none;
		@include vertical(inline-block, top);
		margin:0;
		@include size(166px, 29px);
		@include breakpoint($tablet){@include size(130px, 24px);}
	}
}
/*------------------------------------------------------------------
35. Social Networks / .social-networks
-------------------------------------------------------------------*/
.social-networks{
	margin:0;
	li{
		padding:0;
		margin:0 22px;
		@include breakpoint($tablet){margin:0 15px;}
		a{
			display: block;
			color:$white;
			font-size: 24px;
			line-height:12px;
			@include breakpoint($tablet){font-size: 20px;}
			&:focus,
			&:hover{
				outline:none;
				text-decoration: none;
				color:$link-color;
			}
		}
	}
}
/*------------------------------------------------------------------
36. Info Nav / .info-nav
-------------------------------------------------------------------*/
.info-nav{
	margin:0 0 70px;
	font:12px/16px $font-montsrrat;
	@include breakpoint($tablet){
		font-size: 10px;
		margin:0 0 30px;
	}
	@include breakpoint($tablet){
		margin:0 0 20px;
	}
	li{
		padding:0;
		margin:0 5px;
		@include element2(after, 0, auto, auto, -11px);
		&:after{
			content:"/";
			color:$link-color;
			font-size: 12px;
		}
		&:first-child{
			&:after{display: none;}
		}
		a{
			color:$white;
			&:focus,
			&:hover{
				outline:none;
				text-decoration: none;
				color:$link-color;
			}
		}
	}
}
/*------------------------------------------------------------------
37. Instagram Nav / .instagram-nav
-------------------------------------------------------------------*/
.instagram-nav{
	margin:0;
	@include breakpoint($mobile){
		margin:0 -15px;
	}
	li{
		float: left;
		padding:0;
		width: 33.33%;
		@include breakpoint($mobile2){width: 50%;}
		a{
			position: relative;
			overflow: hidden;
			display: block;
			&:focus,
			&:hover{
				text-decoration: none;
				outline:none;
				.insta-over{top: 0;}
				.btn-instagram{background: $link-color;}
			}
			img{
				width: 100%;
				max-width:inherit;
			}
		}
	}
	.insta-over{
		@include transition(all, 0.3s, ease);
		position: absolute;
		bottom: 0;
		top: 100%;
		right: 0;
		left: 0;
		color:$white;
		padding:18px 10px 19px 20px;
		background: rgba(0, 0, 0, 0.5);
		font:10px/13px $font-lato;
		@include breakpoint($mobile2){padding:18px 10px 19px;}
		.title{
			display: block;
			margin:0 0 5px;
		}
		h3{
			margin:0;
			text-transform: capitalize;
			font-size: 12px;
			line-height:14px;
		}
		time{
			font-style:italic;
			position:absolute;
			bottom:20px;
			left:21px;
		}
	}
}
/*------------------------------------------------------------------
38. Footer / #footer
-------------------------------------------------------------------*/
#footer{
	font:10px/14px $font-montsrrat;
	padding-top: 24px;
	padding-bottom: 24px;
	z-index:1;
	color:$white;
	@include element2(before, 0, -9999px, 0, -9999px);
	@include breakpoint($mobile){text-align: center;}
	&:before{
		background: rgba(0, 0, 0, 0.5);
		display: block;
		z-index:-1;
	}
}
/*------------------------------------------------------------------
39. Copyrights / .copyrights
-------------------------------------------------------------------*/
.copyrights{
	float: left;
	@include breakpoint($mobile){
		float: none;
		@include vertical(inline-block, top);
		margin:0 0 15px;
	}
	a{
		&:focus,
		&:hover{
			text-decoration: none;
			outline:none;
		}
	}
}
/*------------------------------------------------------------------
40. Footer Nav / .footer-nav
-------------------------------------------------------------------*/
.footer-nav{
	margin:0;
	float: right;
	text-transform: uppercase;
	@include breakpoint($mobile){
		float: none;
		@include vertical(inline-block, top);
		margin:0 0 15px;
	}
	li{
		padding:0;
		margin:0 0 0 27px;
		@include element2(before, 1px, auto, auto, -15px);
		@include breakpoint($mobile){margin:0 10px;}
		&:before{
			content:"|";
			color:$link-color;
			font-size: 11px;
			line-height:10px;
		}
		&:first-child{
			&:before{display: none;}
		}
		a{
			color:$white;
			&:focus,
			&:hover{
				color:$link-color;
				text-decoration: none;
				outline:none;
			}
		}
	}
}
/*------------------------------------------------------------------
41. Main Banner / .main-banner
-------------------------------------------------------------------*/
.main-banner{
	position:relative;
	height: 500px;
	@include breakpoint($mobile){height: 400px;}
	.post-over{
		h1{margin:0;}
	}
	.add-banner{
		position:relative;
		height: 500px;
		overflow: hidden;
		@include breakpoint($mobile){height: 400px;}
	}
	&.post{
		height: 600px;
		@include breakpoint($tablet){height: 500px;}
		@include breakpoint($mobile){height: 400px;}
		.add-banner{
			height: 600px;
			@include breakpoint($tablet){height: 500px;}
			@include breakpoint($mobile){height: 400px;}
		}
		.post-over{
			h1{margin:-5px 0 14px;}
		}
	}
}
/*------------------------------------------------------------------
42. Contact Block / .contact-block
-------------------------------------------------------------------*/
.contact-block{
	padding-top: 65px;
	padding-bottom: 70px;
	h2{
		text-transform: uppercase;
		margin:0 0 26px;
		font-size: 18px;
		line-height:22px;
	}
}
/*------------------------------------------------------------------
43. Comment Form / .comment-form
-------------------------------------------------------------------*/
.comment-form{
	margin:0;
	width: 100%;
	@include vertical(inline-block, top);
	@extend %clearfix;
	.form-group{
		margin:0 0 30px;
		@extend %clearfix;
		@include breakpoint($mobile){margin:0 0 20px;}
	}
	.form-col{
		float: left;
		width: 31.7%;
		margin:0 0 0 2.4%;
		@include breakpoint($mobile){
			@extend %clearfix;
			float: none;
			margin:15px 0 0;
			width: 100%;
		}
		&:first-child{
			margin-left:0;
			margin-top:0;
		}
	}
	.form-control{
		box-shadow:none;
		font:16px/31px $font-family-base;
		padding:6px 9px;
		resize:none;
		-webkit-appearance:none;
		&:focus{
			border-color:$input-border;
			box-shadow:none;
		}
		&.textarea{height: 200px;}
	}
	.error {
		.form-control {border-color: #f00;}
	}
}
/*------------------------------------------------------------------
44. Parallax Holder / .parallax-holder
-------------------------------------------------------------------*/
.parallax-holder {position: relative;}
/*------------------------------------------------------------------
45. Parallax Frame / .parallax-frame
-------------------------------------------------------------------*/
.parallax-frame {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	img {max-width: 10000000em;}
}
/*------------------------------------------------------------------
46. Post Info / .post-info
-------------------------------------------------------------------*/
.post-info{
	padding-top: 41px;
	padding-bottom:1px;
	font-size: 22px;
	line-height:36px;
	position: relative;
	@include breakpoint($tablet){
		font-size: 20px;
		line-height:30px;
	}
	@include breakpoint($mobile){
		font-size: 16px;
		line-height:22px;
	}
	p{margin: 0 0 39px;}
	
	.txt-box{
		font:14px/28px $font-merriweather;
		@include breakpoint($mobile){
			line-height:22px;
			font-size: 13px;
		}
	}
	h2{
		margin:0 0 13px;
		font-size: 30px;
		line-height:34px;
		text-transform: uppercase;
		@include breakpoint($tablet){
			font-size: 26px;
			line-height:30px;
		}
		@include breakpoint($mobile){
			font-size: 20px;
			line-height:26px;
		}
		a{
			color:$black2;
			&:focus,
			&:hover{
				color:$link-color;
				text-decoration: none;
				outline:none;
			}
		}
	}
}
/*------------------------------------------------------------------
47. Blockquote / .blockquote
-------------------------------------------------------------------*/
.blockquote{
	margin:0 0 50px;
	padding:0 0 31px 18px;
	color:$headings-color;
	border-left:3px solid $link-color;
	font:italic 16px/18px $font-merriweather;
	@include breakpoint($mobile){
		font-size: 14px;
		padding:0 0 0 18px;
	}
	p{margin:0 0 18px;}
	cite{
		color:$light-gray2;
		font-size: 14px;
		font-weight: 700;
		font-style:normal;
		display: block;
		&:before{font-size: 8px;}
	}
}
/*------------------------------------------------------------------
48. Post Images / .post-images
-------------------------------------------------------------------*/
.post-images{
	overflow: hidden;
	margin:0 0 44px;
	.alignleft{
		float: left;
		width: 33.8%;
	}
	.img-box{
		overflow: hidden;
		margin:1.2% 0 0;
		&:first-child{margin-top: 0;}
		img{@extend %img-responsive;}
	}
	.img-box2{
		float: right;
		width: 65.8%;
		img{@extend %img-responsive;}
	}
	.img-box,
	.img-box2 {
		a {
			@include transition(all, 0.25s, ease);
			position: relative;
			overflow: hidden;
			display: block;
			outline: none;
			&:after,
			&:before {
				@include transition(all, 0.25s, ease);
				background: rgba(0, 0, 0, 0.3);
				position: absolute;
				content: '';
				bottom: 50%;
				right: 0;
				left: 0;
				top: 0;
			}
			&:after {
				bottom: 0;
				top: 50%;
			}
			&:hover {
				&:before {bottom: 100%;}
				&:after {top: 100%;}
			}
		}
	}
}
/*------------------------------------------------------------------
49. Related Posts / .related-posts
-------------------------------------------------------------------*/
.related-posts{
	padding-top: 51px;
	padding-bottom: 50px;
}
/*------------------------------------------------------------------
50. Post Buttons / .post-buttons
-------------------------------------------------------------------*/
.post-buttons{
	overflow: hidden;
	padding:26px 0 24px;
	margin:0 0 44px;
	border:solid $light-gray3;
	border-width:1px 0;
	.social-networks{
		overflow: hidden;
		text-align: center;
		@include breakpoint($mobile){
			width: 100%;
			padding:20px 0 0;
		}
		li{
			margin:0 13px;
			a{
				font-size: 14px;
				line-height:10px;
				color:$link-color;
				&:hover{color:$headings-color;}
			}
		}
	}
}
/*------------------------------------------------------------------
51. Next Post , Prev Post / .next-post, .prev-post
-------------------------------------------------------------------*/
.next-post,
.prev-post{
	float: left;
	color:$headings-color;
	text-transform: uppercase;
	font:14px/18px $font-montsrrat;
	position: relative;
	margin:0 10px 0 26px;
	@include breakpoint($mobile){margin:0 0 0 26px;}
	&:focus,
	&:hover{
		text-decoration: none;
		color:$link-color;
		outline:none;
	}
	.fa{
		position: absolute;
		top: 50%;
		left: -26px;
		color:$link-color;
		font-size: 17px;
		line-height:8px;
		margin:-4px 0 0;
	}
}
.next-post{
	float: right;
	margin:0 26px 0 46px;
	@include breakpoint($mobile){margin:0 26px 0 0;}
	.fa{
		left: auto;
		right: -26px;
	}
}
/*------------------------------------------------------------------
52. Related Articles / .related-articles
-------------------------------------------------------------------*/
.related-articles{
	@extend %clearfix;
	margin:0 0 77px;
	h2{
		text-align: center;
		margin:0 0 24px;
		text-transform: uppercase;
		font-size: 22px;
		line-height:26px;
		font-weight: 400;
		.txt{
			@include vertical(inline-block, top);
			position:relative;
			&:after{
				content:"";
				@include vertical(inline-block, bottom);
				@include square(4px);
				background: $yellow;
				border-radius:50%;
				margin:0 -1px 6px 2px;
			}
		}
		line-height:28px;
		a{
			color:$headings-color;
			&:focus,
			&:hover{
				text-decoration: none;
				outline:none;
				color:$link-color;
			}
		}
	}
	.add-nav{
		&:before,
		&:after{
			left: 0;
			right: 0;
		}
	}
}
/*------------------------------------------------------------------
53. Carousel / .carousel
-------------------------------------------------------------------*/
.carousel{
	position: relative;
	@include breakpoint($mobile){text-align: center;}
	.mask {
		position: relative;
		overflow: hidden;
		margin: 0 0 0 -29px;
		@include breakpoint($mobile){margin:0 0 20px;}
	}
	.slideset {
		width: 100% !important;
		float: left;
		white-space:nowrap;
		letter-spacing:-4px;
	}
	.slide {
		width: 371px !important;
		@include vertical(inline-block, top);
		letter-spacing:0;
		white-space:normal;
		margin:0 0 0 29px;
		@include breakpoint($screen-md-max){
			width: 455px !important;
		}
		@include breakpoint($screen-sm-max){
			width: 345px !important;
		}
		@include breakpoint($mobile){
			width: 100% !important;
			text-align:left;
			margin:0;
		}
	}
	.banner-gallery{
		height: 270px;
	}
	.post-quotes{
		&:after{
			font-size: 145px;
			margin:7px 0 0 -69px;
		}
	}
	.add-nav{
		font-size: 12px;
		@include breakpoint($tablet){
			font-size: 9px;
			li{
				margin:0 8px;
				&:before{
					font-size: 8px;
					left:-12px;
					top: 1px;
				}
			}
		}
	}
}
/*------------------------------------------------------------------
54. Comments Block / .comments-block
-------------------------------------------------------------------*/
.comments-block{overflow: hidden;}
/*------------------------------------------------------------------
55. Commnents Heading / .commnents-heading
-------------------------------------------------------------------*/
.commnents-heading{
	overflow: hidden;
	margin:0 0 41px;
	h2{
		font-size: 22px;
		line-height:26px;
		font-weight: 400;
		float: left;
		max-width:700px;
		margin:0;
		text-transform: uppercase;
		.txt{
			@include vertical(inline-block, top);
			position:relative;
			&:after{
				content:"";
				@include vertical(inline-block, bottom);
				@include square(4px);
				background: $yellow;
				border-radius:50%;
				margin:0 -1px 6px 2px;
			}
		}
	}
}
/*------------------------------------------------------------------
56. Threecomments / .threecomments
-------------------------------------------------------------------*/
.threecomments{
	float: right;
	color:$light-gray4;
	font:13px/16px $font-montsrrat;
	margin:5px 0 0;
	&:focus,
	&:hover{
		text-decoration: none;
		color:$link-color;
		outline:none;
	}
	.num{color:$link-color;}
}
/*------------------------------------------------------------------
57. Comments Holder / .comments-holder
-------------------------------------------------------------------*/
.comments-holder{
	overflow: hidden;
	margin:0 0 12px;
	.onelevel{
		padding:0 0 0 2.6%;
		@include breakpoint($mobile){padding:0;}
	}
	.twolevel{
		padding:0 0 0 2.6%;
		@include breakpoint($mobile){padding:0;}
	}
}
/*------------------------------------------------------------------
58. Comments Box / .comments-box
-------------------------------------------------------------------*/
.comments-box{
	position:relative;
	@extend %clearfix;
	margin:0 0 29px;
	@include breakpoint($mobile){text-align: center;}
	.alignleft{
		margin:1px 20px 0 0;
		border-radius:50%;
		overflow: hidden;
		float: left;
		@include square(100px);
		@include breakpoint($mobile){
			float: none;
			display: block;
			margin:0 auto 10px;
		}
		img{display: block;}
		&:hover,
		&:focus{outline:none;}
	}
	.txt-block{
		overflow: hidden;
		line-height:24px;
		.box{
			@extend %clearfix;
			margin:0 0 5px;
		}
		h3{
			float: left;
			max-width:500px;
			margin:0;
			font-weight: 400;
			font-size: 16px;
			line-height:18px;
			text-transform: uppercase;
			@include breakpoint($mobile){
				float: none;
				overflow: hidden;
				margin:0 auto 10px;
			}
			a{
				color:$input-color;
				&:hover,
				&:focus{
					text-decoration: none;
					outline:none;
					color:$link-color;
				}
			}
		}
		p{margin: 0;}
	}
	.mail-reply{
		position: absolute;
		top: 2px;
		left: -22px;
		color:$light-gray4;
		font-size: 12px;
		line-height:10px;
		@include breakpoint($mobile){left: 0;}
		&:focus,
		&:hover{
			color:$yellow;
			text-decoration: none;
			outline:none;
		}
	}
}
/*------------------------------------------------------------------
59. Comment Nav / .comment-nav
-------------------------------------------------------------------*/
.comment-nav{
	float: right;
	margin:0 3px 0 0;
	font-size: 14px;
	line-height:16px;
	@include breakpoint($mobile){
		float: none;
		overflow: hidden;
	}
	li{
		padding:0;
		margin:0 0 0 14px;
		@include element(before, 3px, auto, auto, -9px, $text-color);
		&:before{@include size(1px, 12px);}
		&:first-child{&:before{display: none;}}
		a{
			&:hover,
			&:focus{
				text-decoration: none;
				outline:none;
			}
		}
	}
}
/*------------------------------------------------------------------
60. Form Area / .form-area
-------------------------------------------------------------------*/
.form-area{
	@extend %clearfix;
	h2{
		text-transform: uppercase;
		margin:0 0 26px;
		font-size: 18px;
		line-height:22px;
	}
}
.main-post{
	@include breakpoint(1850px){
		padding-top: 60px;
	}
}
.progress-bar-holder {
	background: $black-haze;
	height: 300px;
	width: 40px;
	left: 0;
	z-index: 998;
	position: absolute;
	top: 100px;
	@include breakpoint($mobile){display: none;}
	.progressbar {
		background: $sunglow;
		position: absolute;
		width: 100%;
		height: 0;
		top: 0;
	}
	.progress-info {
		top: 5px;
		left: 50px;
		width: 120px;
		position: absolute;
		color: $headings-color;
		font: 14px/ 25px $font-montsrrat;
		@include breakpoint(1440px){
			left: 0;
			width: 40px;
			font-size: 12px;
			text-align: center;
		}
	}
}



/*------------------------------------------------------------------
61. short codes
-------------------------------------------------------------------*/
.icons-block{
	overflow: hidden;
	margin: 0 0 90px;
	ul{margin: 0;}
	li {
		float:left;
		width: 20%;
		padding-bottom:3px;
		@include breakpoint($screen-md-max){
			width: 33.333%;
		}
		@include breakpoint($screen-sm-max){
			width: 50%;
		}
		@include breakpoint($screen-xs-max){
			width: 100%;
			float: none;
			display: block;
		}
	}
	span {
		padding-right:7px;
		color:#444;
	}
}


.list1 li {
	list-style:disc inside;
	color:#505050;
}
.list2 li {
	list-style:circle inside;
	color:#505050;
}
.list3 li {
	list-style:decimal inside;
	color:#505050;
}
.list4 li b.glyphicon {
	padding-right:15px;
	line-height:18px;
	color:#505050;
	font-size:9px;
}
.list1 li span, .list2 li span, .list3 li span {color:#979797;}
.nav-tabs{
	font:700 18px/22px $font-montsrrat;
	border:0;
	letter-spacing:1px;
	li{
		padding:0;
		margin:0 9px 0 0;
		@media only screen and (max-width:$screen-xs-max){
			float: none !important;
			display: block;
			margin: 0 0 5px;
		}
		
		a{
			background: $headings-color;
			color:$white;
			border-radius:0;
			margin:0;
			text-align: center;
			padding:16px 28px;
			
			&:focus,
			&:hover{
				color: $gray;
				outline:none;
			}
		}
	}
}
.shortcode-row{margin-bottom: 30px;}
.panel-group{
	padding:4px 0 0;
	margin-bottom: 0;
	.panel{
		border-radius:0;
		border:0;
		box-shadow:none;
	}
}
.panel-body{
	border-top-color:$white;
	background: none;
	padding:16px 20px 13px;
	p{margin: 0;}
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{border:0;}
.panel-default{
	.panel-heading{
		padding:0;
		.panel-title{
			margin:0;
			font-weight:400;
			letter-spacing:1px;
			font-size: 16px;
			line-height:20px;
			text-transform: uppercase;
			a{
				padding:20px 32px 19px;
				background: $gray;
				color:$white;
				display: block;
				@include element2(after, 50%, 13px, auto, auto);
				&:after{
					content:"\f107";
					font-family: 'FontAwesome';
					margin:-10px 0 0;
					font-size: 22px;
					font-weight: 400;
				}
				&.collapsed{
					background: $headings-color;
					color:$white;
					&:after{
						content:"\f105";
						margin:-10px 0 0;
						font-size: 22px;
						right:19px;
					}
					&:hover{background: $gray;}
				}
				&:focus,
				&:hover{
					background: $gray;
					text-decoration: none;
					color:$white;
					outline:none;
				}
			}
		}
	}
}